.bloco *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bloco{
    width: 180px;
    /* height: 200px; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px -3px gray;
    background-color: white;
    text-align: center;
    color: #6685be;
    padding-bottom: 10px;
    margin: 1em;
    position: relative;
}

.bloco .topo{
    background-color: #f44336;
    padding: 1em;
    border-radius: 10px 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
}

.bloco > *:not(h6) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    margin: auto;
}

.bloco > small {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    display: block;
}

.bloco img{
    vertical-align: middle;
}

.bloco .img{
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: white; 
}

.bloco .img img{
    height: 105%;
}

.badge{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
}
.badge img{
    width: 100%;
}